# Create geojson file from list of PUDO coords
See /home/test/Documents/PROJECTS/VFH/iPython_Notebooks/dv_pudo_profiles.ipynb for more info.  

ref: https://geoffboeing.com/2015/10/exporting-python-data-geojson/  
Huom: `with open(output_filename, 'wb') as output_file:` should be `'w'` not `'wb'`  

**Resources**  
geoJSON minifier: https://jsonformatter.org/json-minify

In [1]:
import sys
sys.executable

'/home/test/anaconda3/envs/vfh/bin/python'

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as ticker

from IPython.display import HTML, display
import datetime
import matplotlib.dates as mdates
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import os

from datetime import datetime

import json

# Functions

In [330]:
# https://geoffboeing.com/2015/10/exporting-python-data-geojson/
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = int(row[prop])
        geojson['features'].append(feature)
    return geojson

# GeoJSON properties for file

In [4]:
# Define the properties of the PUDO geojson file
prop = ['type','counts', 'overlap']

# Variables

In [5]:
ward=1
this_day = "Monday"
this_tod = "amPeak"

In [6]:
if ward == 1:
    test_id1 = 20232410   # 13454935
    test_id2 = 13453946
elif ward == 10:
    test_id1 = 13467106 # Adelaide and John
    test_id2 = 13466303

# Read PUDO data from csv file

In [244]:
fname = '../../../Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/FROM_PGADMIN/all_pudo_mon.csv'
# fname = '../../../Documents/PROJECTS/VFH/COT_PAGE/test_data/all_pudo_mon_ampeak.csv'
# fname = '~/Documents/PROJECTS/BDITTO/VFH/DATA_STORY/DATA/from_pgAdmin/all_pudo_mon.csv'

df = pd.read_csv(fname)

print(df.shape)
df.head(5)

(494842, 14)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff
0,2018-09-03 00:00:00,2018-09-03 00:34:01,18.0,10.0,13447475,13467654,Monday,nightII,0101000020E61000005BE2AF6670DA53C01D22DBEA93E2...,0101000020E610000013E6CE309BD953C0938FE7777DD2...,43.770139,-79.413110,43.644454,-79.400097
1,2018-09-03 00:00:00,2018-09-03 00:10:54,10.0,13.0,13467763,13464030,Monday,nightII,0101000020E610000051E519D30AD953C0C23B89A05BD2...,0101000020E610000079E6DB3E68D853C00F3AF08356D5...,43.643421,-79.391286,43.666703,-79.381363
2,2018-09-03 00:00:00,2018-09-03 00:12:34,13.0,10.0,13464551,13467763,Monday,nightII,0101000020E6100000A342F6F3C6D753C0E8EE4CFEEDD4...,0101000020E610000051E519D30AD953C0C23B89A05BD2...,43.663513,-79.371518,43.643421,-79.391286
3,2018-09-03 00:00:00,2018-09-03 00:24:18,13.0,3.0,13465140,13470547,Monday,nightII,0101000020E6100000DF5023ED39D853C020ED2E3976D4...,0101000020E610000004410BFFE5E153C041B447898CCC...,43.659858,-79.378536,43.598039,-79.529663
4,2018-09-03 00:00:00,2018-09-03 00:18:21,8.0,13.0,14044860,14673305,Monday,nightII,0101000020E6100000A37FC1EFB8DC53C070C432B4FCDB...,0101000020E61000008C84E11C68D853C062D98093A3D5...,43.718649,-79.448788,43.669054,-79.381355

In [245]:
list(df)

['pickup_datetime',
 'dropoff_datetime',
 'pickup_ward2018',
 'dropoff_ward2018',
 'pickup_gc_intersection_id',
 'dropoff_gc_intersection_id',
 'dow',
 'timewindow',
 'pickup_geom',
 'dropoff_geom',
 'lat_pickup',
 'lon_pickup',
 'lat_dropoff',
 'lon_dropoff']

In [246]:
print(df.loc[(df['pickup_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'pickup_gc_intersection_id'].count())
df.loc[(df['pickup_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak')]

12

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff
38950,2018-09-03 07:00:00,2018-09-03 07:08:41,1.0,1.0,20232410,30081632,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E61000002D3BBACD78E353C00F64DF43F9DA...,43.728927,-79.60573,43.710732,-79.554248
88959,2018-09-10 08:00:00,2018-09-10 08:12:39,1.0,1.0,20232410,20232410,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,43.728927,-79.60573,43.728927,-79.605730
97207,2018-09-17 07:00:00,2018-09-17 07:12:16,1.0,1.0,20232410,13458127,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E61000002B190A1CACE453C05F98C323EED9...,43.728927,-79.60573,43.702580,-79.573005
140853,2018-09-24 07:00:00,2018-09-24 07:21:00,1.0,1.0,20232410,30081635,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E6100000786CE01B3EE353C0C5D0B23AAEDA...,43.728927,-79.60573,43.708442,-79.550666
140854,2018-09-24 07:00:00,2018-09-24 07:21:00,1.0,1.0,20232410,30081635,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E6100000786CE01B3EE353C0C5D0B23AAEDA...,43.728927,-79.60573,43.708442,-79.550666
183409,2018-09-03 07:00:00,2018-09-03 07:15:17,1.0,3.0,20232410,30071354,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E6100000A29221642CE253C0679E157ED4CF...,43.728927,-79.60573,43.623672,-79.533959
240279,2018-09-17 08:00:00,2018-09-17 08:47:05,1.0,21.0,20232410,13449905,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E610000043B0776D19D153C0E5BAE7C823E0...,43.728927,-79.60573,43.751092,-79.267177
240582,2018-09-17 08:00:00,2018-09-17 08:22:07,1.0,3.0,20232410,13470591,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E6100000BD3611B95DE153C07D60FC7151CC...,43.728927,-79.60573,43.596236,-79.521345
246059,2018-09-17 07:00:00,2018-09-17 07:58:57,1.0,21.0,20232410,20102020,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E61000004EDEF8C1F6D053C03FE99A8262E0...,43.728927,-79.60573,43.753006,-79.265061
258887,2018-09-24 08:00:00,2018-09-24 08:11:44,1.0,1.0,20232410,13460408,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E61000003C54D9CB04E553C07379977E4ED8...,43.728927,-79.60573,43.689895,-79.578418
265960,2018-09-24 08:00:00,2018-09-24 08:39:16,1.0,8.0,20232410,13453819,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E6100000F81D23D6CBD953C0E681289539DD...,43.728927,-79.60573,43.728320,-79.403066
270435,2018-09-24 08:00:00,2018-09-24 08:05:17,1.0,1.0,20232410,13452527,Monday,amPeak,0101000020E610000075DC3A49C4E653C09A9B9F7D4DDD...,0101000020E61000007A43A507C1E553C0BC87F84591DE...,43.728927,-79.60573,43.738808,-79.589907

In [247]:
df.loc[(df['dropoff_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'dropoff_gc_intersection_id'].count()

151

# Housekeeping

## 1. Round lat, lon to 4 decimal places

In [248]:
n=4 # number of decimals to round to

df['lat_pickup'] = df['lat_pickup'].round(decimals=n)
df['lon_pickup'] = df['lon_pickup'].round(decimals=n)

df['lat_dropoff'] = df['lat_dropoff'].round(decimals=n)
df['lon_dropoff'] = df['lon_dropoff'].round(decimals=n)

In [249]:
np.round(-79.60573035, decimals=n)

-79.6057

In [250]:
np.round(43.7289273, decimals=n)

43.7289

## 2. Filter out rows where neither pickup or dropoff wards are the ward of interest
Make col `keep` = 1 for where pick-up or for drop-off wards are the ward of interest

In [251]:
# Assign a Pickup or Dropoff in column 'type'
df['keep'] = np.nan
df['latitude'] = np.nan
df['longitude'] = np.nan

df.loc[(df['pickup_ward2018']==ward) | (df['dropoff_ward2018']==ward), 'keep'] = 1

In [252]:
# Check
df['keep'].unique()

array([nan,  1.])

In [253]:
# Keep only rows where `keep` is not null
df = df[df['keep'].notnull()]

In [254]:
# Check
df['keep'].unique()

array([1.])

In [255]:
print(df.shape)

(18462, 17)

In [256]:
df.head(5)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude
6,2018-09-03 00:00:00,2018-09-03 00:13:26,1.0,1.0,30082386,13460542,Monday,nightII,0101000020E61000002E8E37EAE2E653C01D39868BD2DC...,0101000020E61000001223231E8BE653C012195BAA40D8...,43.7252,-79.6076,43.6895,-79.6022,1.0,NaN,NaN
65,2018-09-03 00:00:00,2018-09-03 00:13:36,6.0,1.0,30109966,13451158,Monday,nightII,0101000020E6100000F094730106DF53C0346577E63DDF...,0101000020E61000002595DD571BE553C04E5E8510A7DF...,43.7441,-79.4847,43.7473,-79.5798,1.0,NaN,NaN
77,2018-09-03 00:00:00,2018-09-03 00:22:29,1.0,9.0,13461025,14047180,Monday,nightII,0101000020E6100000A9ABCBC11DE653C075770AAAE7D7...,0101000020E6100000B94BF948BEDB53C0D4C5FE9626D6...,43.6868,-79.5956,43.6731,-79.4335,1.0,NaN,NaN
92,2018-09-03 01:00:00,2018-09-03 01:04:16,1.0,1.0,13451763,13450652,Monday,nightII,0101000020E6100000716B477BC0E653C0A2CEA29838DF...,0101000020E6100000DF7A0DF462E653C0EC776DDE14E0...,43.7439,-79.6055,43.7506,-79.5998,1.0,NaN,NaN
110,2018-09-03 00:00:00,2018-09-03 00:42:09,25.0,1.0,13441921,14075750,Monday,nightII,0101000020E61000008BC12B98A4CD53C04A9D99C3E2E8...,0101000020E6100000BBD25DD28BE653C029598BA581DC...,43.8194,-79.2132,43.7227,-79.6023,1.0,NaN,NaN

In [257]:
# Test again!! => ok
print(df.loc[(df['pickup_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'pickup_gc_intersection_id'].count())
df.loc[(df['dropoff_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'dropoff_gc_intersection_id'].count()

12

151

## 3a. Split df into two dfs for pickups and dropoffs separately
one where pickup ward == ward, the other where dropoff_ward == ward  

Assign `type` = 1 for pickup df, 5 for dropoff df.

In [258]:
df_pu = pd.DataFrame()
df_pu = df.loc[df['pickup_ward2018']==ward]
df_pu['type'] = 1

/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [259]:
df_do = pd.DataFrame()
df_do = df.loc[df['dropoff_ward2018']==ward]
df_do['type'] = 5

/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [260]:
df_pu.head(4)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude,type
6,2018-09-03 00:00:00,2018-09-03 00:13:26,1.0,1.0,30082386,13460542,Monday,nightII,0101000020E61000002E8E37EAE2E653C01D39868BD2DC...,0101000020E61000001223231E8BE653C012195BAA40D8...,43.7252,-79.6076,43.6895,-79.6022,1.0,NaN,NaN,1
77,2018-09-03 00:00:00,2018-09-03 00:22:29,1.0,9.0,13461025,14047180,Monday,nightII,0101000020E6100000A9ABCBC11DE653C075770AAAE7D7...,0101000020E6100000B94BF948BEDB53C0D4C5FE9626D6...,43.6868,-79.5956,43.6731,-79.4335,1.0,NaN,NaN,1
92,2018-09-03 01:00:00,2018-09-03 01:04:16,1.0,1.0,13451763,13450652,Monday,nightII,0101000020E6100000716B477BC0E653C0A2CEA29838DF...,0101000020E6100000DF7A0DF462E653C0EC776DDE14E0...,43.7439,-79.6055,43.7506,-79.5998,1.0,NaN,NaN,1
111,2018-09-03 00:00:00,2018-09-03 00:08:17,1.0,1.0,30091827,13453287,Monday,nightII,0101000020E6100000C989D486F3E553C043E3332015E1...,0101000020E610000011C8258EFCE553C02251D03CECDD...,43.7585,-79.5930,43.7338,-79.5935,1.0,NaN,NaN,1

In [261]:
# Fill `latitude` and `longitude` col with pickup or dropoff lat/lon
df_pu['latitude'] = df_pu['lat_pickup']
df_pu['longitude'] = df_pu['lon_pickup']

df_do['latitude'] = df_do['lat_dropoff']
df_do['longitude'] = df_do['lon_dropoff']

/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [262]:
df_pu.head(4)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude,type
6,2018-09-03 00:00:00,2018-09-03 00:13:26,1.0,1.0,30082386,13460542,Monday,nightII,0101000020E61000002E8E37EAE2E653C01D39868BD2DC...,0101000020E61000001223231E8BE653C012195BAA40D8...,43.7252,-79.6076,43.6895,-79.6022,1.0,43.7252,-79.6076,1
77,2018-09-03 00:00:00,2018-09-03 00:22:29,1.0,9.0,13461025,14047180,Monday,nightII,0101000020E6100000A9ABCBC11DE653C075770AAAE7D7...,0101000020E6100000B94BF948BEDB53C0D4C5FE9626D6...,43.6868,-79.5956,43.6731,-79.4335,1.0,43.6868,-79.5956,1
92,2018-09-03 01:00:00,2018-09-03 01:04:16,1.0,1.0,13451763,13450652,Monday,nightII,0101000020E6100000716B477BC0E653C0A2CEA29838DF...,0101000020E6100000DF7A0DF462E653C0EC776DDE14E0...,43.7439,-79.6055,43.7506,-79.5998,1.0,43.7439,-79.6055,1
111,2018-09-03 00:00:00,2018-09-03 00:08:17,1.0,1.0,30091827,13453287,Monday,nightII,0101000020E6100000C989D486F3E553C043E3332015E1...,0101000020E610000011C8258EFCE553C02251D03CECDD...,43.7585,-79.5930,43.7338,-79.5935,1.0,43.7585,-79.5930,1

In [263]:
df_do.head(4)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude,type
6,2018-09-03 00:00:00,2018-09-03 00:13:26,1.0,1.0,30082386,13460542,Monday,nightII,0101000020E61000002E8E37EAE2E653C01D39868BD2DC...,0101000020E61000001223231E8BE653C012195BAA40D8...,43.7252,-79.6076,43.6895,-79.6022,1.0,43.6895,-79.6022,5
65,2018-09-03 00:00:00,2018-09-03 00:13:36,6.0,1.0,30109966,13451158,Monday,nightII,0101000020E6100000F094730106DF53C0346577E63DDF...,0101000020E61000002595DD571BE553C04E5E8510A7DF...,43.7441,-79.4847,43.7473,-79.5798,1.0,43.7473,-79.5798,5
92,2018-09-03 01:00:00,2018-09-03 01:04:16,1.0,1.0,13451763,13450652,Monday,nightII,0101000020E6100000716B477BC0E653C0A2CEA29838DF...,0101000020E6100000DF7A0DF462E653C0EC776DDE14E0...,43.7439,-79.6055,43.7506,-79.5998,1.0,43.7506,-79.5998,5
110,2018-09-03 00:00:00,2018-09-03 00:42:09,25.0,1.0,13441921,14075750,Monday,nightII,0101000020E61000008BC12B98A4CD53C04A9D99C3E2E8...,0101000020E6100000BBD25DD28BE653C029598BA581DC...,43.8194,-79.2132,43.7227,-79.6023,1.0,43.7227,-79.6023,5

In [264]:
# Test again!! => ok
print(df_pu.loc[(df_pu['pickup_gc_intersection_id']==test_id1) & (df_pu['dow']=='Monday') & (df_pu['timewindow']=='amPeak'),'pickup_gc_intersection_id'].count())
df_do.loc[(df_do['dropoff_gc_intersection_id']==test_id1) & (df_do['dow']=='Monday') & (df_do['timewindow']=='amPeak'),'dropoff_gc_intersection_id'].count()

12

151

## 3b. Aggregate pickups and dropoffs

In [265]:
df_pu_agg=pd.DataFrame()

df_pu_agg = df_pu.groupby(
    ['type','dow','timewindow','latitude','longitude','pickup_gc_intersection_id']
    ).size().reset_index(name='pcounts')

df_pu_agg.head(3)

,type,dow,timewindow,latitude,longitude,pickup_gc_intersection_id,pcounts
0,1,Monday,amPeak,43.6743,-79.5654,13463160,3
1,1,Monday,amPeak,43.6757,-79.5684,13462944,64
2,1,Monday,amPeak,43.6763,-79.5704,13462841,2

In [266]:
df_pu_agg['dcounts']=0

In [267]:
# Check => ok
df_pu_agg.loc[df_pu_agg['pickup_gc_intersection_id']==test_id1]

,type,dow,timewindow,latitude,longitude,pickup_gc_intersection_id,pcounts,dcounts
266,1,Monday,amPeak,43.7289,-79.6057,20232410,12,0
871,1,Monday,midday,43.7289,-79.6057,20232410,120,0
1507,1,Monday,nightI,43.7289,-79.6057,20232410,56,0
2089,1,Monday,nightIII,43.7289,-79.6057,20232410,2,0
2585,1,Monday,outside_windows,43.7289,-79.6057,20232410,76,0
3195,1,Monday,pmPeak,43.7289,-79.6057,20232410,53,0

In [268]:
df_do_agg=pd.DataFrame()

df_do_agg = df_do.groupby(
    ['type','dow','timewindow','latitude','longitude','dropoff_gc_intersection_id']
    ).size().reset_index(name='dcounts')

df_do_agg.head(3)

,type,dow,timewindow,latitude,longitude,dropoff_gc_intersection_id,dcounts
0,5,Monday,amPeak,43.6709,-79.5904,13463803,1
1,5,Monday,amPeak,43.6727,-79.5921,13463477,2
2,5,Monday,amPeak,43.6741,-79.5889,30029322,11

In [269]:
df_do_agg['pcounts']=0

In [270]:
# Check => ok
df_do_agg.loc[df_do_agg['dropoff_gc_intersection_id']==test_id1]

,type,dow,timewindow,latitude,longitude,dropoff_gc_intersection_id,dcounts,pcounts
199,5,Monday,amPeak,43.7289,-79.6057,20232410,151,0
720,5,Monday,midday,43.7289,-79.6057,20232410,187,0
1341,5,Monday,nightI,43.7289,-79.6057,20232410,24,0
1800,5,Monday,nightII,43.7289,-79.6057,20232410,1,0
2094,5,Monday,nightIII,43.7289,-79.6057,20232410,4,0
2586,5,Monday,outside_windows,43.7289,-79.6057,20232410,105,0
3189,5,Monday,pmPeak,43.7289,-79.6057,20232410,27,0

## 4. Make a common table on common columns

### a. Aggregates
Concat `df_pu_agg` and `df_do_agg`.

In [271]:
# First rename intersection id to common name to allow concat
df_pu_agg = df_pu_agg.rename(columns={'pickup_gc_intersection_id': 'intersection_id'})
df_do_agg = df_do_agg.rename(columns={'dropoff_gc_intersection_id': 'intersection_id'})

In [272]:
cols = ['type','dow','timewindow','latitude','longitude','intersection_id','pcounts','dcounts']

df_pudo_agg=pd.DataFrame()

df_pudo_agg=pd.concat([df_pu_agg[cols], df_do_agg[cols] ])

df_pudo_agg.head(4)

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts
0,1,Monday,amPeak,43.6743,-79.5654,13463160,3,0
1,1,Monday,amPeak,43.6757,-79.5684,13462944,64,0
2,1,Monday,amPeak,43.6763,-79.5704,13462841,2,0
3,1,Monday,amPeak,43.6768,-79.5642,13462745,5,0

In [273]:
# Check => ok
df_pudo_agg.loc[(df_pudo_agg['timewindow']=='amPeak') & (df_pudo_agg['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts
266,1,Monday,amPeak,43.7289,-79.6057,20232410,12,0
199,5,Monday,amPeak,43.7289,-79.6057,20232410,0,151

In [274]:
df_pudo_agg.loc[(df_pudo_agg['timewindow']=='amPeak') & (df_pudo_agg['intersection_id']==test_id2)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts
275,1,Monday,amPeak,43.7301,-79.6049,13453946,2,0
207,5,Monday,amPeak,43.7301,-79.6049,13453946,0,17

## 4. Subset this_tod

### 4a. pick-ups only, and drop-offs only

In [275]:
print(this_tod)
df_pudo_agg_tod = df_pudo_agg.loc[(df_pudo_agg['timewindow']==this_tod)]

amPeak

In [276]:
# Mark the >= second occurrence of overlapping intersections for this_tod as True
df_pudo_agg_tod['first overlap'] = df_pudo_agg_tod['intersection_id'].duplicated()

/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [277]:
# Check => ok
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap
266,1,Monday,amPeak,43.7289,-79.6057,20232410,12,0,False
199,5,Monday,amPeak,43.7289,-79.6057,20232410,0,151,True

In [278]:
# Check
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id2)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap
275,1,Monday,amPeak,43.7301,-79.6049,13453946,2,0,False
207,5,Monday,amPeak,43.7301,-79.6049,13453946,0,17,True

In [279]:
# Store overlapping intersections in a list
overlap_ids = list(df_pudo_agg_tod.loc[df_pudo_agg_tod['first overlap']==True, 'intersection_id'])
print(len(overlap_ids))

195

In [280]:
# Check
test_id1 in list(overlap_ids)

# => False is correct

True

In [281]:
# Mark all occurrences of overlapping intersections as True by finding if `intersection_id` is in
# list `overlap_ids`
df_pudo_agg_tod['overlap'] = df_pudo_agg_tod['intersection_id'].isin(list(overlap_ids))

/home/test/anaconda3/envs/vfh/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [282]:
# Check => ok
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
266,1,Monday,amPeak,43.7289,-79.6057,20232410,12,0,False,True
199,5,Monday,amPeak,43.7289,-79.6057,20232410,0,151,True,True

In [283]:
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id2)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
275,1,Monday,amPeak,43.7301,-79.6049,13453946,2,0,False,True
207,5,Monday,amPeak,43.7301,-79.6049,13453946,0,17,True,True

In [284]:
# => Checks are OK

### 4b. overlapping pick-ups and drop-offs
* first merge the pick-ups (`type`==1) and drop-offs (`type`==5) on common `intersection_id`. This creates a lot of `_x` and `_y` columns but that doesn't matter. We will only take what we need later    
* Take the max of `pcounts_x`, `pcounts_y`, and the max of `dcounts_x`, `dcounts_y` and store in new column `gr_pcounts`, `gr_dcounts`, respectively  
* Merge `df_gr` with the first merged df (`df_merge`), taking only the columns of interest   
* Rename the columns to remove the `_x` and `_y`

In [285]:
# Merge pu and do on common intersection_id
df_merge = pd.DataFrame()
df_merge = pd.merge(df_pudo_agg_tod.loc[df_pudo_agg_tod['type']==1],
                    df_pudo_agg_tod.loc[df_pudo_agg_tod['type']==5],
                    on="intersection_id")
df_merge.head(11)

,type_x,dow_x,timewindow_x,latitude_x,longitude_x,intersection_id,pcounts_x,dcounts_x,first overlap_x,overlap_x,type_y,dow_y,timewindow_y,latitude_y,longitude_y,pcounts_y,dcounts_y,first overlap_y,overlap_y
0,1,Monday,amPeak,43.6743,-79.5654,13463160,3,0,False,True,5,Monday,amPeak,43.6743,-79.5654,0,1,True,True
1,1,Monday,amPeak,43.6757,-79.5684,13462944,64,0,False,True,5,Monday,amPeak,43.6757,-79.5684,0,8,True,True
2,1,Monday,amPeak,43.6768,-79.5642,13462745,5,0,False,True,5,Monday,amPeak,43.6768,-79.5642,0,1,True,True
3,1,Monday,amPeak,43.6775,-79.5680,13462642,3,0,False,True,5,Monday,amPeak,43.6775,-79.5680,0,1,True,True
4,1,Monday,amPeak,43.6783,-79.5850,13462531,3,0,False,True,5,Monday,amPeak,43.6783,-79.5850,0,15,True,True
5,1,Monday,amPeak,43.6797,-79.5694,13462270,1,0,False,True,5,Monday,amPeak,43.6797,-79.5694,0,1,True,True
6,1,Monday,amPeak,43.6808,-79.5929,13462101,6,0,False,True,5,Monday,amPeak,43.6808,-79.5929,0,26,True,True
7,1,Monday,amPeak,43.6826,-79.5819,13461753,1,0,False,True,5,Monday,amPeak,43.6826,-79.5819,0,8,True,True
8,1,Monday,amPeak,43.6833,-79.5908,13461643,2,0,False,True,5,Monday,amPeak,43.6833,-79.5908,0,5,True,True
9,1,Monday,amPeak,43.6837,-79.5703,13461534,6,0,False,True,5,Monday,amPeak,43.6837,-79.5703,0,2,True,True
10,1,Monday,amPeak,43.6856,-79.5715,13461190,1,0,False,True,5,Monday,amPeak,43.6856,-79.5715,0,1,True,True

In [286]:
# https://www.geeksforgeeks.org/combining-multiple-columns-in-pandas-groupby-with-dictionary/
# Take the max of `pcounts_x`, `pcounts_y`, and the max of `dcounts_x`, `dcounts_y` and store in
# new column `gr_pcounts`, `gr_dcounts`, respectively

groupby_dict = {'pcounts_x':'gr_pcounts', 
                'pcounts_y':'gr_pcounts', 
                'dcounts_x':'gr_dcounts', 
                'dcounts_y':'gr_dcounts'
               }
df_gr = df_merge.groupby(groupby_dict, axis = 1).max()
df_gr.head(11)

    gr_dcounts  gr_pcounts
0            1           3
1            8          64
2            1           5
3            1           3
4           15           3
5            1           1
6           26           6
7            8           1
8            5           2
9            2           6
10           1           1

In [287]:
print(df_merge.shape)
print(df_gr.shape)

(195, 19)
(195, 2)

In [288]:
# Merge `df_gr` with the first merged df (`df_merge`), taking only the columns of interest 

df_pudo_agg_tod_allcounts = pd.DataFrame()

df_pudo_agg_tod_allcounts = df_merge.merge(df_gr, left_index=True, right_index=True)[[
    'latitude_x', 'longitude_x','intersection_id','gr_dcounts','gr_pcounts'
]]

df_pudo_agg_tod_allcounts=df_pudo_agg_tod_allcounts.rename(columns={
    'latitude_x':'latitude', 'longitude_x':'longitude',
    'gr_pcounts':'pcounts', 'gr_dcounts':'dcounts'
})

print(df_pudo_agg_tod_allcounts.shape)
df_pudo_agg_tod_allcounts.head(11)

(195, 5)

    latitude  longitude  intersection_id  dcounts  pcounts
0    43.6743   -79.5654         13463160        1        3
1    43.6757   -79.5684         13462944        8       64
2    43.6768   -79.5642         13462745        1        5
3    43.6775   -79.5680         13462642        1        3
4    43.6783   -79.5850         13462531       15        3
5    43.6797   -79.5694         13462270        1        1
6    43.6808   -79.5929         13462101       26        6
7    43.6826   -79.5819         13461753        8        1
8    43.6833   -79.5908         13461643        5        2
9    43.6837   -79.5703         13461534        2        6
10   43.6856   -79.5715         13461190        1        1

# Save to geojson

## Aggregated points

In [59]:
geojson_pu_unique = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['type']==1) & 
                                                      (df_pudo_agg_tod['overlap']==False)], ['pcounts'])

In [60]:
geojson_do_unique = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['type']==5) & 
                                                      (df_pudo_agg_tod['overlap']==False)], ['dcounts'])

In [331]:
# geojson_pudo = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['overlap']==True)], ['pcounts','dcounts'])
geojson_pudo = df_to_geojson(df_pudo_agg_tod_allcounts, ['pcounts','dcounts'])

In [332]:
# Check => ok
df_pudo_agg_tod.loc[(df_pudo_agg_tod['overlap']==True) & (df_pudo_agg_tod['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
266,1,Monday,amPeak,43.7289,-79.6057,20232410,12,0,False,True
199,5,Monday,amPeak,43.7289,-79.6057,20232410,0,151,True,True

In [333]:
df_pudo_agg_tod_allcounts.loc[(df_pudo_agg_tod_allcounts['intersection_id']==test_id1)]

     latitude  longitude  intersection_id  dcounts  pcounts
103   43.7289   -79.6057         20232410      151       12

# Write geojson to file

## Aggregated points

In [66]:
print('w' +repr(ward), this_day, this_tod)

w1 Monday amPeak

In [63]:
output_filename = '../../../Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/INDIVIDUAL_GEOJSONS/w' + repr(ward) + '_092018_' + this_day + '_' + this_tod + '_pu_agg_pcounts.geojson'

with open(output_filename, 'w') as output_file:
    output_file.write('')
    json.dump(geojson_pu_unique, output_file, indent=2)

In [64]:
output_filename = '../../../Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/INDIVIDUAL_GEOJSONS/w' + repr(ward) + '_092018_' + this_day + '_' + this_tod + '_do_agg_dcounts.geojson'

with open(output_filename, 'w') as output_file:
    output_file.write('')
    json.dump(geojson_do_unique, output_file, indent=2)

In [334]:
output_filename = '../../../Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/INDIVIDUAL_GEOJSONS/w' + repr(ward) + '_092018_' + this_day + '_' + this_tod + '_pudo_agg_pdcounts.geojson'

with open(output_filename, 'w') as output_file:
    output_file.write('')
    json.dump(geojson_pudo, output_file, indent=2)

`
$ ls -lh ~/Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/INDIVIDUAL_GEOJSONS/
total 216K
-rw-r--r-- 1 test test 109K Dec  9 11:23 w1_092018_Monday_pmPeak_do_agg.geojson
-rw-r--r-- 1 test test 104K Dec  9 11:23 w1_092018_Monday_pmPeak_pu_agg.geojson
`

`
$ ls -lh src/geojson/
-rw-r--r-- 1 test test 328K Dec  4 15:46 w1_092018_Monday_amPeak_agg.geojson
-rw-r--r-- 1 test test 753K Dec  4 13:51 w1_092018_Monday_amPeak.geojson
`