# Create geojson file from list of PUDO coords
See /home/test/Documents/PROJECTS/VFH/iPython_Notebooks/dv_pudo_profiles.ipynb for more info.  

ref: https://geoffboeing.com/2015/10/exporting-python-data-geojson/  
Huom: `with open(output_filename, 'wb') as output_file:` should be `'w'` not `'wb'`  

**Resources**  
geoJSON minifier: https://jsonformatter.org/json-minify

In [1]:
import sys
sys.executable

'/home/nangini/anaconda3/bin/python'

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as ticker

from IPython.display import HTML, display
import datetime
import matplotlib.dates as mdates
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import os

from datetime import datetime

import json

# Functions

In [3]:
# https://geoffboeing.com/2015/10/exporting-python-data-geojson/
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = int(row[prop])
        geojson['features'].append(feature)
    return geojson

# GeoJSON properties for file

In [4]:
# Define the properties of the PUDO geojson file
prop = ['type','counts', 'overlap']

# Variables

In [5]:
ward=10
this_day = "Monday"
this_tod = "amPeak"

In [6]:
if ward == 1:
    test_id1 = 20232410   # 13454935
    test_id2 = 13453946
elif ward == 10:
    test_id1 = 13467106 # Adelaide and John
    test_id2 = 13466303

# Read PUDO data from csv file

In [7]:
# fname = '../../../Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/FROM_PGADMIN/all_pudo_mon.csv'
fname = '~/Documents/PROJECTS/BDITTO/VFH/DATA_STORY/DATA/from_pgAdmin/all_pudo_mon.csv'

df = pd.read_csv(fname)

print(df.shape)
df.head(5)

(494842, 14)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff
0,2018-09-03 00:00:00,2018-09-03 00:34:01,18.0,10.0,13447475,13467654,Monday,nightII,0101000020E61000005BE2AF6670DA53C01D22DBEA93E2...,0101000020E610000013E6CE309BD953C0938FE7777DD2...,43.770139,-79.413110,43.644454,-79.400097
1,2018-09-03 00:00:00,2018-09-03 00:10:54,10.0,13.0,13467763,13464030,Monday,nightII,0101000020E610000051E519D30AD953C0C23B89A05BD2...,0101000020E610000079E6DB3E68D853C00F3AF08356D5...,43.643421,-79.391286,43.666703,-79.381363
2,2018-09-03 00:00:00,2018-09-03 00:12:34,13.0,10.0,13464551,13467763,Monday,nightII,0101000020E6100000A342F6F3C6D753C0E8EE4CFEEDD4...,0101000020E610000051E519D30AD953C0C23B89A05BD2...,43.663513,-79.371518,43.643421,-79.391286
3,2018-09-03 00:00:00,2018-09-03 00:24:18,13.0,3.0,13465140,13470547,Monday,nightII,0101000020E6100000DF5023ED39D853C020ED2E3976D4...,0101000020E610000004410BFFE5E153C041B447898CCC...,43.659858,-79.378536,43.598039,-79.529663
4,2018-09-03 00:00:00,2018-09-03 00:18:21,8.0,13.0,14044860,14673305,Monday,nightII,0101000020E6100000A37FC1EFB8DC53C070C432B4FCDB...,0101000020E61000008C84E11C68D853C062D98093A3D5...,43.718649,-79.448788,43.669054,-79.381355

In [8]:
list(df)

['pickup_datetime',
 'dropoff_datetime',
 'pickup_ward2018',
 'dropoff_ward2018',
 'pickup_gc_intersection_id',
 'dropoff_gc_intersection_id',
 'dow',
 'timewindow',
 'pickup_geom',
 'dropoff_geom',
 'lat_pickup',
 'lon_pickup',
 'lat_dropoff',
 'lon_dropoff']

In [9]:
print(df.loc[(df['pickup_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'pickup_gc_intersection_id'].count())
df.loc[(df['pickup_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak')]

62

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff
23281,2018-09-03 07:00:00,2018-09-03 07:15:29,10.0,8.0,13467106,13457779,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000C0DF9FBA08DB53C0EFD33A6FF8D9...,43.647857,-79.390293,43.702894,-79.422408
30889,2018-09-03 07:00:00,2018-09-03 07:12:22,10.0,13.0,13467106,14020387,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000A27CF0C3A9D853C042864949B3D4...,43.647857,-79.390293,43.661721,-79.385362
57648,2018-09-10 08:00:00,2018-09-10 08:07:13,10.0,10.0,13467106,14036081,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000009403BF0B90D853C03715C0CCABD2...,43.647857,-79.390293,43.645868,-79.383792
58455,2018-09-10 07:00:00,2018-09-10 07:03:32,10.0,10.0,13467106,13466789,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000287B62D574D853C04C78569326D3...,43.647857,-79.390293,43.649615,-79.382131
63584,2018-09-10 07:00:00,2018-09-10 07:38:00,10.0,16.0,13467106,13448747,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000689BA10CA3D653C01E97991B51E1...,43.647857,-79.390293,43.760288,-79.353702
64637,2018-09-10 08:00:00,2018-09-10 08:05:30,10.0,10.0,13467106,13466858,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000406EE54395D853C02908239818D3...,43.647857,-79.390293,43.649188,-79.384110
66260,2018-09-10 08:00:00,2018-09-10 08:08:51,10.0,10.0,13467106,13468181,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000560A723155D853C0A38C7E55EAD1...,43.647857,-79.390293,43.639964,-79.380200
66261,2018-09-10 08:00:00,2018-09-10 08:08:51,10.0,10.0,13467106,13468181,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000560A723155D853C0A38C7E55EAD1...,43.647857,-79.390293,43.639964,-79.380200
70212,2018-09-10 07:00:00,2018-09-10 07:05:35,10.0,13.0,13467106,13466551,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E610000086DEC9443DD853C0AAD43DC955D3...,43.647857,-79.390293,43.651055,-79.378740
70842,2018-09-10 07:00:00,2018-09-10 07:36:04,10.0,20.0,13467106,13452903,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000854D4E01F1D053C0FD90635DAFDD...,43.647857,-79.390293,43.731914,-79.264710
71852,2018-09-10 08:00:00,2018-09-10 08:07:00,10.0,10.0,13467106,13467303,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000E55B788E83D853C0AE24C8F4C3D2...,43.647857,-79.390293,43.646605,-79.383030
73264,2018-09-10 07:00:00,2018-09-10 07:05:23,10.0,10.0,13467106,13467389,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000837355BF43D853C026BA31B4AFD2...,43.647857,-79.390293,43.645987,-79.379135
77844,2018-09-10 07:00:00,2018-09-10 07:05:30,10.0,10.0,13467106,13467083,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E610000051EA288D8CD853C04A7CA72FEFD2...,43.647857,-79.390293,43.647924,-79.383579
80973,2018-09-10 07:00:00,2018-09-10 07:06:31,10.0,10.0,13467106,20034906,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000AF5EFE705BD853C093409CEABDD2...,43.647857,-79.390293,43.646421,-79.380581
82563,2018-09-10 08:00:00,2018-09-10 08:09:18,10.0,10.0,13467106,13467389,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000837355BF43D853C026BA31B4AFD2...,43.647857,-79.390293,43.645987,-79.379135
86881,2018-09-10 07:00:00,2018-09-10 07:06:20,10.0,11.0,13467106,13465400,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000A2F824BC0CD953C0D364290646D4...,43.647857,-79.390293,43.658387,-79.391402
88772,2018-09-10 08:00:00,2018-09-10 08:08:40,10.0,13.0,13467106,13467080,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000946AF0D526D853C0453192A0ECD2...,43.647857,-79.390293,43.647846,-79.377370
92799,2018-09-10 07:00:00,2018-09-10 07:15:22,10.0,11.0,13467106,13463548,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000396933B1EDD853C028C639B7B7D5...,43.647857,-79.390293,43.669669,-79.389508
93567,2018-09-10 08:00:00,2018-09-10 08:10:12,10.0,10.0,13467106,13467389,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000837355BF43D853C026BA31B4AFD2...,43.647857,-79.390293,43.645987,-79.379135
95634,2018-09-17 07:00:00,2018-09-17 07:03:07,10.0,10.0,13467106,20034906,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000AF5EFE705BD853C093409CEABDD2...,43.647857,-79.390293,43.646421,-79.380581
97802,2018-09-17 07:00:00,2018-09-17 07:05:29,10.0,11.0,13467106,13464999,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000F538EDD8B1D853C004EE929B95D4...,43.647857,-79.390293,43.660816,-79.385855
98522,2018-09-17 08:00:00,2018-09-17 08:04:08,10.0,10.0,13467106,13975054,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000003FC2DF186AD853C0E9C6AAF74AD2...,43.647857,-79.390293,43.642913,-79.381476
99051,2018-09-17 07:00:00,2018-09-17 07:07:12,10.0,11.0,13467106,13465527,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000F387E064EDD853C0C10FC7ED29D4...,43.647857,-79.390293,43.657530,-79.389489
99262,2018-09-17 08:00:00,2018-09-17 08:07:48,10.0,13.0,13467106,13467080,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000946AF0D526D853C0453192A0ECD2...,43.647857,-79.390293,43.647846,-79.377370
103111,2018-09-17 07:00:00,2018-09-17 07:07:24,10.0,13.0,13467106,13466034,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000001256BEC23DD853C0532F67D2C0D3...,43.647857,-79.390293,43.654322,-79.378770
103867,2018-09-17 08:00:00,2018-09-17 08:06:07,10.0,10.0,13467106,13468065,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000DA50F2695CD853C0A0DEC9FD07D2...,43.647857,-79.390293,43.640869,-79.380640
103868,2018-09-17 08:00:00,2018-09-17 08:06:07,10.0,10.0,13467106,13468065,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000DA50F2695CD853C0A0DEC9FD07D2...,43.647857,-79.390293,43.640869,-79.380640
104543,2018-09-17 08:00:00,2018-09-17 08:07:29,10.0,11.0,13467106,13463548,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000396933B1EDD853C028C639B7B7D5...,43.647857,-79.390293,43.669669,-79.389508
105077,2018-09-17 08:00:00,2018-09-17 08:08:16,10.0,13.0,13467106,14036812,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E610000069F28D1B30D853C03CC855A644D3...,43.647857,-79.390293,43.650533,-79.377936
108466,2018-09-17 08:00:00,2018-09-17 08:07:28,10.0,10.0,13467106,13467825,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000D98CD6C803D853C0FA22D9D745D2...,43.647857,-79.390293,43.642756,-79.375231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111139,2018-09-17 07:00:00,2018-09-17 07:21:11,10.0,19.0,13467106,13459794,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000541B55B3F2D253C0C7CC7FF43FD8...,43.647857,-79.390293,43.689452,-79.296063
112381,2018-09-17 08:00:00,2018-09-17 08:05:53,10.0,10.0,13467106,13975054,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000003FC2DF186AD853C0E9C6AAF74AD2...,43.647857,-79.390293,43.642913,-79.381476
113899,2018-09-17 07:00:00,2018-09-17 07:04:38,10.0,13.0,13467106,13466232,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000226D8D4F1BD853C0B4E9C6C394D3...,43.647857,-79.390293,43.652977,-79.376667
114859,2018-09-17 08:00:00,2018-09-17 08:05:02,10.0,10.0,13467106,13467083,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E610000051EA288D8CD853C04A7CA72FEFD2...,43.647857,-79.390293,43.647924,-79.383579
115166,2018-09-17 07:00:00,2018-09-17 07:33:30,10.0,16.0,13467106,13448747,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000689BA10CA3D653C01E97991B51E1...,43.647857,-79.390293,43.760288,-79.353702
126623,2018-09-17 08:00:00,2018-09-17 08:08:42,10.0,11.0,13467106,13465011,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000F012BD088AD953C09A7C9C3198D4...,43.647857,-79.390293,43.660895,-79.399050
127438,2018-09-17 08:00:00,2018-09-17 08:11:20,10.0,13.0,13467106,13465714,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000009D35291961D853C0FF2BD29402D4...,43.647857,-79.390293,43.656329,-79.380926
135513,2018-09-24 08:00:00,2018-09-24 08:06:18,10.0,10.0,13467106,13467163,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000009A8E757B4DD853C0929E96DDDBD2...,43.647857,-79.390293,43.647335,-79.379729
139644,2018-09-24 07:00:00,2018-09-24 07:24:11,10.0,3.0,13467106,13470354,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000007B0E942A3DE153C06107C1EF4ECD...,43.647857,-79.390293,43.603971,-79.519358
144835,2018-09-24 08:00:00,2018-09-24 08:05:06,10.0,10.0,13467106,13975054,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000003FC2DF186AD853C0E9C6AAF74AD2...,43.647857,-79.390293,43.642913,-79.381476
149547,2018-09-24 08:00:00,2018-09-24 08:12:56,10.0,11.0,13467106,13463436,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000007C31B722C1D853C0668A6EFAC9D5...,43.647857,-79.390293,43.670226,-79.386788
150445,2018-09-24 08:00:00,2018-09-24 08:08:49,10.0,11.0,13467106,13465011,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000F012BD088AD953C09A7C9C3198D4...,43.647857,-79.390293,43.660895,-79.399050
153284,2018-09-24 07:00:00,2018-09-24 07:08:08,10.0,11.0,13467106,13463548,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000396933B1EDD853C028C639B7B7D5...,43.647857,-79.390293,43.669669,-79.389508
159207,2018-09-24 08:00:00,2018-09-24 08:07:04,10.0,10.0,13467106,13467163,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000009A8E757B4DD853C0929E96DDDBD2...,43.647857,-79.390293,43.647335,-79.379729
159539,2018-09-24 08:00:00,2018-09-24 08:06:09,10.0,10.0,13467106,13467389,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000837355BF43D853C026BA31B4AFD2...,43.647857,-79.390293,43.645987,-79.379135
172307,2018-09-17 08:00:00,2018-09-17 08:24:06,10.0,14.0,13467106,14024410,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000C620F948BFD553C06517794A28D5...,43.647857,-79.390293,43.665292,-79.339800
181277,2018-09-03 08:00:00,2018-09-03 08:06:48,10.0,11.0,13467106,13466158,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000BABFEC3140D953C037805BD0ABD3...,43.647857,-79.390293,43.653681,-79.394543
203240,2018-09-10 08:00:00,2018-09-10 08:05:47,10.0,10.0,13467106,13466752,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000E55C9C8E66D953C020C6017A35D3...,43.647857,-79.390293,43.650069,-79.396885
203550,2018-09-10 08:00:00,2018-09-10 08:07:41,10.0,13.0,13467106,13466207,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000007CF8C2FC66D853C0093996479CD3...,43.647857,-79.390293,43.653207,-79.381286
209474,2018-09-10 07:00:00,2018-09-10 07:09:45,10.0,13.0,13467106,13463931,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000497AAE75DDD853C01EA59B8F6ED5...,43.647857,-79.390293,43.667437,-79.388517
211591,2018-09-10 08:00:00,2018-09-10 08:19:08,10.0,13.0,13467106,13465590,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000009E4CCF0066D853C0ED7E9ED119D4...,43.647857,-79.390293,43.657038,-79.381226
218140,2018-09-10 08:00:00,2018-09-10 08:12:07,10.0,11.0,13467106,13463511,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000CA36FEB141D953C021EF6456C0D5...,43.647857,-79.390293,43.669932,-79.394635
220925,2018-09-10 08:00:00,2018-09-10 08:06:31,10.0,10.0,13467106,14621058,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000363D49368ED853C0D81E02B61FD2...,43.647857,-79.390293,43.641593,-79.383680
223604,2018-09-10 07:00:00,2018-09-10 07:09:00,10.0,13.0,13467106,13466207,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000007CF8C2FC66D853C0093996479CD3...,43.647857,-79.390293,43.653207,-79.381286
224052,2018-09-10 07:00:00,2018-09-10 07:05:50,10.0,13.0,13467106,13466207,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000007CF8C2FC66D853C0093996479CD3...,43.647857,-79.390293,43.653207,-79.381286
224864,2018-09-10 08:00:00,2018-09-10 08:05:51,10.0,13.0,13467106,14673831,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000001EB27EBC42D853C0822D286C3CD3...,43.647857,-79.390293,43.650281,-79.379073
225436,2018-09-10 07:00:00,2018-09-10 07:05:36,10.0,11.0,13467106,13465023,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000D7A18B67BFD853C0AA71E88D90D4...,43.647857,-79.390293,43.660661,-79.386682
247004,2018-09-17 07:00:00,2018-09-17 07:13:34,10.0,10.0,13467106,13468309,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E61000003DAFB09430DB53C02558F606DAD1...,43.647857,-79.390293,43.639466,-79.424840
257685,2018-09-24 07:00:00,2018-09-24 07:05:25,10.0,11.0,13467106,13465023,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E6100000D7A18B67BFD853C0AA71E88D90D4...,43.647857,-79.390293,43.660661,-79.386682
274862,2018-09-24 08:00:00,2018-09-24 08:54:24,10.0,22.0,13467106,13442762,Monday,amPeak,0101000020E61000005EDB6E91FAD853C025A398F6ECD2...,0101000020E610000073BA78B47BD253C0D23F51714DE7...,43.647857,-79.390293,43.807051,-79.288800

In [10]:
df.loc[(df['dropoff_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'dropoff_gc_intersection_id'].count()

13

# Housekeeping

## 1. Round lat, lon to 4 decimal places

In [11]:
n=4 # number of decimals to round to

df['lat_pickup'] = df['lat_pickup'].round(decimals=n)
df['lon_pickup'] = df['lon_pickup'].round(decimals=n)

df['lat_dropoff'] = df['lat_dropoff'].round(decimals=n)
df['lon_dropoff'] = df['lon_dropoff'].round(decimals=n)

In [12]:
np.round(-79.60573035, decimals=n)

-79.6057

In [13]:
np.round(43.7289273, decimals=n)

43.7289

## 2. Filter out rows where neither pickup or dropoff wards are the ward of interest
Make col `keep` = 1 for where pick-up or for drop-off wards are the ward of interest

In [14]:
# Assign a Pickup or Dropoff in column 'type'
df['keep'] = np.nan
df['latitude'] = np.nan
df['longitude'] = np.nan

df.loc[(df['pickup_ward2018']==ward) | (df['dropoff_ward2018']==ward), 'keep'] = 1

In [15]:
# Check
df['keep'].unique()

array([ 1., nan])

In [16]:
# Keep only rows where `keep` is not null
df = df[df['keep'].notnull()]

In [17]:
# Check
df['keep'].unique()

array([1.])

In [18]:
print(df.shape)

(166086, 17)

In [19]:
df.head(5)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude
0,2018-09-03 00:00:00,2018-09-03 00:34:01,18.0,10.0,13447475,13467654,Monday,nightII,0101000020E61000005BE2AF6670DA53C01D22DBEA93E2...,0101000020E610000013E6CE309BD953C0938FE7777DD2...,43.7701,-79.4131,43.6445,-79.4001,1.0,NaN,NaN
1,2018-09-03 00:00:00,2018-09-03 00:10:54,10.0,13.0,13467763,13464030,Monday,nightII,0101000020E610000051E519D30AD953C0C23B89A05BD2...,0101000020E610000079E6DB3E68D853C00F3AF08356D5...,43.6434,-79.3913,43.6667,-79.3814,1.0,NaN,NaN
2,2018-09-03 00:00:00,2018-09-03 00:12:34,13.0,10.0,13464551,13467763,Monday,nightII,0101000020E6100000A342F6F3C6D753C0E8EE4CFEEDD4...,0101000020E610000051E519D30AD953C0C23B89A05BD2...,43.6635,-79.3715,43.6434,-79.3913,1.0,NaN,NaN
7,2018-09-03 00:00:00,2018-09-03 00:25:12,10.0,23.0,13467149,13445567,Monday,nightII,0101000020E6100000114B23960FD953C0EB083B20E4D2...,0101000020E610000021F13FBAB7D153C0B3D1137822E4...,43.6476,-79.3916,43.7823,-79.2768,1.0,NaN,NaN
8,2018-09-03 00:00:00,2018-09-03 00:13:19,10.0,10.0,14621058,13467746,Monday,nightII,0101000020E6100000363D49368ED853C0D81E02B61FD2...,0101000020E610000045A22B6CE1DA53C095E3C7F86DD2...,43.6416,-79.3837,43.6440,-79.4200,1.0,NaN,NaN

In [20]:
# Test again!! => ok
print(df.loc[(df['pickup_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'pickup_gc_intersection_id'].count())
df.loc[(df['dropoff_gc_intersection_id']==test_id1) & (df['dow']=='Monday') & (df['timewindow']=='amPeak'),'dropoff_gc_intersection_id'].count()

62

13

## 3a. Split df into two dfs for pickups and dropoffs separately
one where pickup ward == ward, the other where dropoff_ward == ward  

Assign `type` = 1 for pickup df, 5 for dropoff df.

In [21]:
df_pu = pd.DataFrame()
df_pu = df.loc[df['pickup_ward2018']==ward]
df_pu['type'] = 1

/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
df_do = pd.DataFrame()
df_do = df.loc[df['dropoff_ward2018']==ward]
df_do['type'] = 5

/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
df_pu.head(4)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude,type
1,2018-09-03 00:00:00,2018-09-03 00:10:54,10.0,13.0,13467763,13464030,Monday,nightII,0101000020E610000051E519D30AD953C0C23B89A05BD2...,0101000020E610000079E6DB3E68D853C00F3AF08356D5...,43.6434,-79.3913,43.6667,-79.3814,1.0,NaN,NaN,1
7,2018-09-03 00:00:00,2018-09-03 00:25:12,10.0,23.0,13467149,13445567,Monday,nightII,0101000020E6100000114B23960FD953C0EB083B20E4D2...,0101000020E610000021F13FBAB7D153C0B3D1137822E4...,43.6476,-79.3916,43.7823,-79.2768,1.0,NaN,NaN,1
8,2018-09-03 00:00:00,2018-09-03 00:13:19,10.0,10.0,14621058,13467746,Monday,nightII,0101000020E6100000363D49368ED853C0D81E02B61FD2...,0101000020E610000045A22B6CE1DA53C095E3C7F86DD2...,43.6416,-79.3837,43.6440,-79.4200,1.0,NaN,NaN,1
10,2018-09-03 00:00:00,2018-09-03 00:07:58,10.0,10.0,13467929,13467729,Monday,nightII,0101000020E6100000855DE4035AD853C096EC9BA52BD2...,0101000020E610000035A3F68DF5D853C00B8F00E564D2...,43.6420,-79.3805,43.6437,-79.3900,1.0,NaN,NaN,1

In [24]:
# Fill `latitude` and `longitude` col with pickup or dropoff lat/lon
df_pu['latitude'] = df_pu['lat_pickup']
df_pu['longitude'] = df_pu['lon_pickup']

df_do['latitude'] = df_do['lat_dropoff']
df_do['longitude'] = df_do['lon_dropoff']

/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
df_pu.head(4)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude,type
1,2018-09-03 00:00:00,2018-09-03 00:10:54,10.0,13.0,13467763,13464030,Monday,nightII,0101000020E610000051E519D30AD953C0C23B89A05BD2...,0101000020E610000079E6DB3E68D853C00F3AF08356D5...,43.6434,-79.3913,43.6667,-79.3814,1.0,43.6434,-79.3913,1
7,2018-09-03 00:00:00,2018-09-03 00:25:12,10.0,23.0,13467149,13445567,Monday,nightII,0101000020E6100000114B23960FD953C0EB083B20E4D2...,0101000020E610000021F13FBAB7D153C0B3D1137822E4...,43.6476,-79.3916,43.7823,-79.2768,1.0,43.6476,-79.3916,1
8,2018-09-03 00:00:00,2018-09-03 00:13:19,10.0,10.0,14621058,13467746,Monday,nightII,0101000020E6100000363D49368ED853C0D81E02B61FD2...,0101000020E610000045A22B6CE1DA53C095E3C7F86DD2...,43.6416,-79.3837,43.6440,-79.4200,1.0,43.6416,-79.3837,1
10,2018-09-03 00:00:00,2018-09-03 00:07:58,10.0,10.0,13467929,13467729,Monday,nightII,0101000020E6100000855DE4035AD853C096EC9BA52BD2...,0101000020E610000035A3F68DF5D853C00B8F00E564D2...,43.6420,-79.3805,43.6437,-79.3900,1.0,43.6420,-79.3805,1

In [26]:
df_do.head(4)

,pickup_datetime,dropoff_datetime,pickup_ward2018,dropoff_ward2018,pickup_gc_intersection_id,dropoff_gc_intersection_id,dow,timewindow,pickup_geom,dropoff_geom,lat_pickup,lon_pickup,lat_dropoff,lon_dropoff,keep,latitude,longitude,type
0,2018-09-03 00:00:00,2018-09-03 00:34:01,18.0,10.0,13447475,13467654,Monday,nightII,0101000020E61000005BE2AF6670DA53C01D22DBEA93E2...,0101000020E610000013E6CE309BD953C0938FE7777DD2...,43.7701,-79.4131,43.6445,-79.4001,1.0,43.6445,-79.4001,5
2,2018-09-03 00:00:00,2018-09-03 00:12:34,13.0,10.0,13464551,13467763,Monday,nightII,0101000020E6100000A342F6F3C6D753C0E8EE4CFEEDD4...,0101000020E610000051E519D30AD953C0C23B89A05BD2...,43.6635,-79.3715,43.6434,-79.3913,1.0,43.6434,-79.3913,5
8,2018-09-03 00:00:00,2018-09-03 00:13:19,10.0,10.0,14621058,13467746,Monday,nightII,0101000020E6100000363D49368ED853C0D81E02B61FD2...,0101000020E610000045A22B6CE1DA53C095E3C7F86DD2...,43.6416,-79.3837,43.6440,-79.4200,1.0,43.6440,-79.4200,5
10,2018-09-03 00:00:00,2018-09-03 00:07:58,10.0,10.0,13467929,13467729,Monday,nightII,0101000020E6100000855DE4035AD853C096EC9BA52BD2...,0101000020E610000035A3F68DF5D853C00B8F00E564D2...,43.6420,-79.3805,43.6437,-79.3900,1.0,43.6437,-79.3900,5

In [27]:
# Test again!! => ok
print(df_pu.loc[(df_pu['pickup_gc_intersection_id']==test_id1) & (df_pu['dow']=='Monday') & (df_pu['timewindow']=='amPeak'),'pickup_gc_intersection_id'].count())
df_do.loc[(df_do['dropoff_gc_intersection_id']==test_id1) & (df_do['dow']=='Monday') & (df_do['timewindow']=='amPeak'),'dropoff_gc_intersection_id'].count()

62

13

## 3b. Aggregate pickups and dropoffs

In [28]:
df_pu_agg=pd.DataFrame()

df_pu_agg = df_pu.groupby(
    ['type','dow','timewindow','latitude','longitude','pickup_gc_intersection_id']
    ).size().reset_index(name='pcounts')

df_pu_agg.head(3)

,type,dow,timewindow,latitude,longitude,pickup_gc_intersection_id,pcounts
0,1,Monday,amPeak,43.6311,-79.4155,30021269,1
1,1,Monday,amPeak,43.6316,-79.4273,13469141,1
2,1,Monday,amPeak,43.6320,-79.4195,20229234,1

In [29]:
df_pu_agg['dcounts']=0

In [30]:
# Check => ok
df_pu_agg.loc[df_pu_agg['pickup_gc_intersection_id']==test_id1]

,type,dow,timewindow,latitude,longitude,pickup_gc_intersection_id,pcounts,dcounts
415,1,Monday,amPeak,43.6479,-79.3903,13467106,62,0
1073,1,Monday,midday,43.6479,-79.3903,13467106,104,0
1753,1,Monday,nightI,43.6479,-79.3903,13467106,169,0
2367,1,Monday,nightII,43.6479,-79.3903,13467106,111,0
2874,1,Monday,nightIII,43.6479,-79.3903,13467106,21,0
3488,1,Monday,outside_windows,43.6479,-79.3903,13467106,147,0
4163,1,Monday,pmPeak,43.6479,-79.3903,13467106,37,0

In [31]:
df_do_agg=pd.DataFrame()

df_do_agg = df_do.groupby(
    ['type','dow','timewindow','latitude','longitude','dropoff_gc_intersection_id']
    ).size().reset_index(name='dcounts')

df_do_agg.head(3)

,type,dow,timewindow,latitude,longitude,dropoff_gc_intersection_id,dcounts
0,5,Monday,amPeak,43.6309,-79.4198,13469187,1
1,5,Monday,amPeak,43.6311,-79.4155,30021269,2
2,5,Monday,amPeak,43.6312,-79.4102,13969590,2

In [32]:
df_do_agg['pcounts']=0

In [33]:
# Check => ok
df_do_agg.loc[df_do_agg['dropoff_gc_intersection_id']==test_id1]

,type,dow,timewindow,latitude,longitude,dropoff_gc_intersection_id,dcounts,pcounts
404,5,Monday,amPeak,43.6479,-79.3903,13467106,13,0
1038,5,Monday,midday,43.6479,-79.3903,13467106,96,0
1715,5,Monday,nightI,43.6479,-79.3903,13467106,150,0
2309,5,Monday,nightII,43.6479,-79.3903,13467106,30,0
2797,5,Monday,nightIII,43.6479,-79.3903,13467106,14,0
3409,5,Monday,outside_windows,43.6479,-79.3903,13467106,111,0
4091,5,Monday,pmPeak,43.6479,-79.3903,13467106,77,0

## 4. Make a common table on common columns

### a. Aggregates
Concat `df_pu_agg` and `df_do_agg`.

In [34]:
# First rename intersection id to common name to allow concat
df_pu_agg = df_pu_agg.rename(columns={'pickup_gc_intersection_id': 'intersection_id'})
df_do_agg = df_do_agg.rename(columns={'dropoff_gc_intersection_id': 'intersection_id'})

In [35]:
cols = ['type','dow','timewindow','latitude','longitude','intersection_id','pcounts','dcounts']

df_pudo_agg=pd.DataFrame()

df_pudo_agg=pd.concat([df_pu_agg[cols], df_do_agg[cols] ])

df_pudo_agg.head(4)

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts
0,1,Monday,amPeak,43.6311,-79.4155,30021269,1,0
1,1,Monday,amPeak,43.6316,-79.4273,13469141,1,0
2,1,Monday,amPeak,43.6320,-79.4195,20229234,1,0
3,1,Monday,amPeak,43.6322,-79.4005,13469040,2,0

In [36]:
# Check => ok
df_pudo_agg.loc[(df_pudo_agg['timewindow']=='amPeak') & (df_pudo_agg['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts
415,1,Monday,amPeak,43.6479,-79.3903,13467106,62,0
404,5,Monday,amPeak,43.6479,-79.3903,13467106,0,13

In [37]:
df_pudo_agg.loc[(df_pudo_agg['timewindow']=='amPeak') & (df_pudo_agg['intersection_id']==test_id2)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts
589,1,Monday,amPeak,43.6528,-79.3934,13466303,3,0

## 4. Subset this_tod

### 4a. pick-ups only, and drop-offs only

In [38]:
print(this_tod)
df_pudo_agg_tod = df_pudo_agg.loc[(df_pudo_agg['timewindow']==this_tod)]

amPeak

In [39]:
# Mark the >= second occurrence of overlapping intersections for this_tod as True
df_pudo_agg_tod['first overlap'] = df_pudo_agg_tod['intersection_id'].duplicated()

/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [40]:
# Check => ok
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap
415,1,Monday,amPeak,43.6479,-79.3903,13467106,62,0,False
404,5,Monday,amPeak,43.6479,-79.3903,13467106,0,13,True

In [41]:
# Check
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id2)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap
589,1,Monday,amPeak,43.6528,-79.3934,13466303,3,0,False

In [42]:
# Store overlapping intersections in a list
overlap_ids = list(df_pudo_agg_tod.loc[df_pudo_agg_tod['first overlap']==True, 'intersection_id'])
print(len(overlap_ids))

500

In [43]:
# Check
test_id1 in list(overlap_ids)

# => False is correct

True

In [44]:
# Mark all occurrences of overlapping intersections as True by finding if `intersection_id` is in
# list `overlap_ids`
df_pudo_agg_tod['overlap'] = df_pudo_agg_tod['intersection_id'].isin(list(overlap_ids))

/home/nangini/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [45]:
# Check => ok
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
415,1,Monday,amPeak,43.6479,-79.3903,13467106,62,0,False,True
404,5,Monday,amPeak,43.6479,-79.3903,13467106,0,13,True,True

In [46]:
df_pudo_agg_tod.loc[(df_pudo_agg_tod['intersection_id']==test_id2)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
589,1,Monday,amPeak,43.6528,-79.3934,13466303,3,0,False,False

In [47]:
# => Checks are OK

### 4b. overlapping pick-ups and drop-offs
* first merge the pick-ups (`type`==1) and drop-offs (`type`==5) on common `intersection_id`. This creates a lot of `_x` and `_y` columns but that doesn't matter. We will only take what we need later    
* Take the max of `pcounts_x`, `pcounts_y`, and the max of `dcounts_x`, `dcounts_y` and store in new column `gr_pcounts`, `gr_dcounts`, respectively  
* Merge `df_gr` with the first merged df (`df_merge`), taking only the columns of interest   
* Rename the columns to remove the `_x` and `_y`

In [48]:
# Merge pu and do on common intersection_id
df_merge = pd.DataFrame()
df_merge = pd.merge(df_pudo_agg_tod.loc[df_pudo_agg_tod['type']==1],
                    df_pudo_agg_tod.loc[df_pudo_agg_tod['type']==5],
                    on="intersection_id")
df_merge.head(11)

,type_x,dow_x,timewindow_x,latitude_x,longitude_x,intersection_id,pcounts_x,dcounts_x,first overlap_x,overlap_x,type_y,dow_y,timewindow_y,latitude_y,longitude_y,pcounts_y,dcounts_y,first overlap_y,overlap_y
0,1,Monday,amPeak,43.6311,-79.4155,30021269,1,0,False,True,5,Monday,amPeak,43.6311,-79.4155,0,2,True,True
1,1,Monday,amPeak,43.6316,-79.4273,13469141,1,0,False,True,5,Monday,amPeak,43.6316,-79.4273,0,6,True,True
2,1,Monday,amPeak,43.6320,-79.4195,20229234,1,0,False,True,5,Monday,amPeak,43.6320,-79.4195,0,5,True,True
3,1,Monday,amPeak,43.6322,-79.4005,13469040,2,0,False,True,5,Monday,amPeak,43.6322,-79.4005,0,1,True,True
4,1,Monday,amPeak,43.6325,-79.4109,13469034,12,0,False,True,5,Monday,amPeak,43.6325,-79.4109,0,20,True,True
5,1,Monday,amPeak,43.6334,-79.3995,13468904,11,0,False,True,5,Monday,amPeak,43.6334,-79.3995,0,2,True,True
6,1,Monday,amPeak,43.6335,-79.3982,30102299,8,0,False,True,5,Monday,amPeak,43.6335,-79.3982,0,44,True,True
7,1,Monday,amPeak,43.6336,-79.4218,13468912,1,0,False,True,5,Monday,amPeak,43.6336,-79.4218,0,3,True,True
8,1,Monday,amPeak,43.6337,-79.3979,30102303,41,0,False,True,5,Monday,amPeak,43.6337,-79.3979,0,101,True,True
9,1,Monday,amPeak,43.6338,-79.3981,30102306,80,0,False,True,5,Monday,amPeak,43.6338,-79.3981,0,279,True,True
10,1,Monday,amPeak,43.6341,-79.4119,13468847,1,0,False,True,5,Monday,amPeak,43.6341,-79.4119,0,5,True,True

In [49]:
# https://www.geeksforgeeks.org/combining-multiple-columns-in-pandas-groupby-with-dictionary/
# Take the max of `pcounts_x`, `pcounts_y`, and the max of `dcounts_x`, `dcounts_y` and store in
# new column `gr_pcounts`, `gr_dcounts`, respectively

groupby_dict = {'pcounts_x':'gr_pcounts', 
                'pcounts_y':'gr_pcounts', 
                'dcounts_x':'gr_dcounts', 
                'dcounts_y':'gr_dcounts'
               }
df_gr = df_merge.groupby(groupby_dict, axis = 1).max()
df_gr.head(11)

    gr_dcounts  gr_pcounts
0            2           1
1            6           1
2            5           1
3            1           2
4           20          12
5            2          11
6           44           8
7            3           1
8          101          41
9          279          80
10           5           1

In [50]:
print(df_merge.shape)
print(df_gr.shape)

(500, 19)
(500, 2)

In [51]:
# Merge `df_gr` with the first merged df (`df_merge`), taking only the columns of interest 

df_pudo_agg_tod_allcounts = pd.DataFrame()

df_pudo_agg_tod_allcounts = df_merge.merge(df_gr, left_index=True, right_index=True)[[
    'latitude_x', 'longitude_x','intersection_id','gr_dcounts','gr_pcounts'
]]

df_pudo_agg_tod_allcounts=df_pudo_agg_tod_allcounts.rename(columns={
    'latitude_x':'latitude', 'longitude_x':'longitude',
    'gr_pcounts':'pcounts', 'gr_dcounts':'dcounts'
})

print(df_pudo_agg_tod_allcounts.shape)
df_pudo_agg_tod_allcounts.head(11)

(500, 5)

    latitude  longitude  intersection_id  dcounts  pcounts
0    43.6311   -79.4155         30021269        2        1
1    43.6316   -79.4273         13469141        6        1
2    43.6320   -79.4195         20229234        5        1
3    43.6322   -79.4005         13469040        1        2
4    43.6325   -79.4109         13469034       20       12
5    43.6334   -79.3995         13468904        2       11
6    43.6335   -79.3982         30102299       44        8
7    43.6336   -79.4218         13468912        3        1
8    43.6337   -79.3979         30102303      101       41
9    43.6338   -79.3981         30102306      279       80
10   43.6341   -79.4119         13468847        5        1

In [52]:
df=

SyntaxError: invalid syntax (<ipython-input-52-02c2a1c0215a>, line 1)

# Save to geojson

In [53]:
df_pudo_agg_tod.head(5)

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
0,1,Monday,amPeak,43.6311,-79.4155,30021269,1,0,False,True
1,1,Monday,amPeak,43.6316,-79.4273,13469141,1,0,False,True
2,1,Monday,amPeak,43.6320,-79.4195,20229234,1,0,False,True
3,1,Monday,amPeak,43.6322,-79.4005,13469040,2,0,False,True
4,1,Monday,amPeak,43.6324,-79.3534,13468945,1,0,False,False

## Aggregated points

In [54]:
c = 8 # cut-off

In [55]:
# geojson_pu_unique = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['type']==1) & 
#                                                       (df_pudo_agg_tod['overlap']==False)], ['pcounts'])

# EXCLUDE COUNTS < c

geojson_pu_unique = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['type']==1) & 
                                                      (df_pudo_agg_tod['pcounts']>=c) &
                                                      (df_pudo_agg_tod['overlap']==False)], ['pcounts'])

In [56]:
# geojson_do_unique = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['type']==5) & 
#                                                       (df_pudo_agg_tod['overlap']==False)], ['dcounts'])

# EXCLUDE COUNTS < c
geojson_do_unique = df_to_geojson(df_pudo_agg_tod.loc[(df_pudo_agg_tod['type']==5) & 
                                                      (df_pudo_agg_tod['dcounts']>=c) &
                                                      (df_pudo_agg_tod['overlap']==False)], ['dcounts'])

In [57]:
# EXCLUDE COUNTS < c
# geojson_pudo = df_to_geojson(df_pudo_agg_tod_allcounts, ['pcounts','dcounts'])
geojson_pudo = df_to_geojson(df_pudo_agg_tod_allcounts.loc[
                    (df_pudo_agg_tod_allcounts['pcounts']>=c) & (df_pudo_agg_tod_allcounts['dcounts']>=c)
                ], ['pcounts','dcounts'])

In [58]:
# Check => ok
df_pudo_agg_tod.loc[(df_pudo_agg_tod['overlap']==True) & (df_pudo_agg_tod['intersection_id']==test_id1)]

,type,dow,timewindow,latitude,longitude,intersection_id,pcounts,dcounts,first overlap,overlap
415,1,Monday,amPeak,43.6479,-79.3903,13467106,62,0,False,True
404,5,Monday,amPeak,43.6479,-79.3903,13467106,0,13,True,True

In [59]:
df_pudo_agg_tod_allcounts.loc[(df_pudo_agg_tod_allcounts['intersection_id']==test_id1)]

     latitude  longitude  intersection_id  dcounts  pcounts
357   43.6479   -79.3903         13467106       13       62

# Write geojson to file

## Aggregated points

In [60]:
print('w' +repr(ward), this_day, this_tod)

w10 Monday amPeak

In [61]:
# mydir = '../../../Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/INDIVIDUAL_GEOJSONS/'
mydir = '/home/nangini/Documents/PROJECTS/BDITTO/VFH/DATA_STORY/DATA/INDIVIDUAL_GEOJSONS/'


output_filename = mydir + 'w' + repr(ward) + '_092018_' + this_day + '_' + this_tod + '_pu_agg_pcounts_cutoff.geojson'

with open(output_filename, 'w') as output_file:
    output_file.write('')
    json.dump(geojson_pu_unique, output_file, indent=2)

In [62]:
output_filename = mydir + 'w' + repr(ward) + '_092018_' + this_day + '_' + this_tod + '_do_agg_dcounts_cutoff.geojson'

with open(output_filename, 'w') as output_file:
    output_file.write('')
    json.dump(geojson_do_unique, output_file, indent=2)

In [63]:
output_filename = mydir + 'w' + repr(ward) + '_092018_' + this_day + '_' + this_tod + '_pudo_agg_pdcounts_cutoff.geojson'

with open(output_filename, 'w') as output_file:
    output_file.write('')
    json.dump(geojson_pudo, output_file, indent=2)

`
$ ls -lh ~/Documents/PROJECTS/VFH/COT_PAGE/INTERIM_DATA/INDIVIDUAL_GEOJSONS/
total 216K
-rw-r--r-- 1 test test 109K Dec  9 11:23 w1_092018_Monday_pmPeak_do_agg.geojson
-rw-r--r-- 1 test test 104K Dec  9 11:23 w1_092018_Monday_pmPeak_pu_agg.geojson
`

`
$ ls -lh src/geojson/
-rw-r--r-- 1 test test 328K Dec  4 15:46 w1_092018_Monday_amPeak_agg.geojson
-rw-r--r-- 1 test test 753K Dec  4 13:51 w1_092018_Monday_amPeak.geojson
`